*{
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans',sans-serif;
    box-sizing: border-box;
}

.headline{
    height: 100vh;
    width: 100%;
    background-image: url(../img/portfolio.jpg);
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo{
    font-size: 50px;
    letter-spacing: 1px;
    cursor: pointer;
}

nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px; 
}

header{
    font-family: Helvetica;
    font-weight: bold;
    background-color: white;
    display: inline-block;
    border-radius: 7px;
}

body{
    background: black;
    color: white;
}

ul{
    margin: 0;
    text-decoration-style: none;
}

nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    transition: .4s;
    color: red;
    text-decoration: underline;
    border-radius: 8px;
    transform: scale(1.2);
    background-color: white;
    border-radius: 8px;
    padding: 9px;
}

.btn-subscribe{
    background-color: red;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn-subscribe:hover{
    background-color: white;
    color: red;
    transform: scale(1.2);
}

.content{
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

h1{
    color: white;
    margin:20px 0px 20px;
    font-size: 75px;
}

h3{
   font-size: 25px;
   margin-bottom: 50px; 
}

h4{
    color: rgba(198, 198, 198, 0.8);
    letter-spacing: 5px;
    font-size: 18px;
}

.newsletter form{
    width: 380px;
    max-width: 100%;
    position: relative ;
}

.newsletter form input:first-child{
    display: inline-block;
    width: 100%;
    padding:15px 130px 14px 15px;
    outline: none;
    border-radius: 30px;
}

.newsletter form input:last-child{
    position: absolute;
    display: inline-block;
    outline: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: red;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #8585;
    top: 6px;
    right: 6px;
    color: white;
    font: bold;
    cursor: pointer;
    transition: transform .4s;
}

.About{
    width:100%;
    padding: 100px 0px;
    background-color: #191919;
}

.About img{
    height: auto;
    width: 430px;
    border-radius: 8px;
}

.about-text{
    width:500px;
}

.main{
    width: 1130px;
    max-width: 95%;
    margin:0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2{
    color: white;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5{
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p{
    line-height: 18px;
    letter-spacing: 1px;
    font-size: 18px;
    margin-bottom: 45px;
}

button, .button{
    background-color: red;
    color: white;
    padding: 13px 30px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}

button:hover, .button:hover{
    background-color: white;
    color: red;
    transform: scale(1.2);
    border: 2px solid red;
}

.socials{
    background-color: #101010;
    width: 100%;
    padding: 100px 0px; 
}

.title h2{
    color: white;
    font-size: 75px;
    width: 1130px;
    margin: 30px auto;
    text-align: center;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}

.card{
    height: 365px;
    width: 335px;
    padding: 20px 35px;
    background: #191919;
    border-radius: 20px;
    margin:15px;
    position: relative;
    overflow: hidden;
    text-align: center;
}

.card i{
    font-size: 50px;
    display: block;
    text-align: center;
    margin: 25px 0px;
    color: red;
}

h5{
    color: white;
    font-size: 23px;
    margin-bottom: 15px;
}

.pra p{
    color: #fcfcfc;
    font-size: 16px;
    line-height: 27px;
    margin-bottom: 25px;
}

.contact{
    width: 100%;
    height: 290px;
    background: #191919;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.contact p{
    color: white;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 30px;
}

.contact .button-second{
    background-color: red;
    color: white;
    padding: 13px 30px;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}

.contact .button-second:hover{
    background-color: white;
    color: red;
    transform: scale(1.2);
    border: 2px solid red;
}

footer{
    position: relative;
    width: 100%;
    height: 400px;
    background: #101010;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

footer p a{
    color: red;
    text-transform: capitalize;
    cursor: pointer;
    transform: scale(1.5);
    /*background-color: red;*/
}

footer p:nth-child(1){
    font-size: 30px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(2){
    color: white;
    font-size: 17px;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social-media{
    align-items: center;
    display: flex;
    height: 45px;
    width: 45px;
    justify-content: center;
    background-color: red;
    margin: 22px 10px;
    text-decoration: none;
    font-size: 20px;
}

.social-media:hover{
    transform: scale(1.3);
    transition: .3s;
}

.final-line{
    position: absolute;
    color: red;
    font-size: 14px;
    bottom: 35px;
}